@using Microsoft.AspNetCore.Identity
@using Dev_bloggr.Models
@model Dev_bloggr.Models.ViewModels.BlogViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
<div class="container mt-5">
    <h1 class="text-center">@Model.blog.Title</h1>
    <h3 class="text-center mt-3 text-body-secondary">@Model.blog.Header</h3>
    <div class="d-flex justify-content-center mt-5 border-bottom border-primary ">
        <p class="pe-5">Blog by: @Model.blog.User.FirstName @Model.blog.User.LastName</p>
        <p class=" ">Published: @Model.blog.CreatedAt.Date.ToString("d")</p>
    </div>
    <p class="mt-5 BlogContent">@Model.blog.Content</p>
</div>
<div class="container mt-5">
    <h3>Comments</h3>
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" id="comment-form">
            @Html.AntiForgeryToken()
            <input asp-for="addComment.UserId" value="@UserManager.GetUserId(this.User)" id="userId" hidden />
            <input asp-for="addComment.BlogId" value="@Model.blog.Id" hidden id="blogId" />
            <div class="row">
                <div class="col-8">
                    <input asp-for="addComment.Content" class="form-control border" id="content" placeholder="Add a comment..." />
                    <span asp-validation-for="addComment.Content" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    }
    @if (Model.blog.Comments.Count == 0)
    {
        <p class="mt-5">There are no comments. Be the First the Comment!</p>
    }
    else
    {
        <div class="mt-5 row d-flex flex-column">
            @foreach (var comment in Model.blog.Comments)
            {
                <div class="card mb-4 col-6 ">
                    <div class="card-body">
                        <p>@comment.Content</p>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <p class="small mb-0 ms-2">by: @comment.User.FirstName @comment.User.LastName</p>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <p>created at: @comment.CreatedAt.ToString("d")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        $(document).ready(function(){
            //add a comment
            $("#comment-form").submit(function (event) {
                event.preventDefault();
                var commentModel = {
                    UserId: $('#userId').val(),
                    BlogId: $('#blogId').val(),
                    Content: $('#content').val(),
                };
                
                $.ajax({
                    type:"POST",
                    contentType:'application/json',
                    data: JSON.stringify(commentModel),
                    url:"@Url.Action("AddComment", "Blog")",
                    success:function(){
                        location.reload();
                    },
                    error: function () {
                       
                    },
                });
            });
            //delete comment
        });
</script>
}
